%% The next option is required so we can use lager.  
{erl_opts, [{parse_transform}]}.  
{lib_dirs,["deps"]}.  

{deps, [{'cowboy', ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
        {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {'ejpet', ".*", {git, "git://github.com/nmichel/ejpet.git", "master"}}
       ]}.
